<div class="container p-5 text-center">
  <span class="h1 font-weight-bold pt-3">Socio</span>
  <div class="login">
    <%= link_to "Log In with Google", login_path, class: "btn btn-primary" %>
  </div>
</div>
